body {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: tomato;
}

.header-name {
    text-transform: capitalize;
}

.athlete-form-header {
    text-align: center;
}

.form-div {
    display: flex;
    justify-content: center;
}

.athlete-form {
    font-size: 1rem;
    width: 10.5%;
}